<p>sidebar-navegacion works!</p>
<nav class="sidebar">
	<ul class="list-unstyled components">
	  <li>
		<a routerLink="">Inicio</a>
	  </li>
	  <li>
		<a routerLink="/botones">Botones</a>
	  </li>
	  <li>
		<a routerLink="/formularios">Formularios</a>
	  </li>
	  <li>
		<a routerLink="/iteraciones">Iteraciones</a>
	  </li>
	  <li>
		<a routerLink="/intercomunicacion">Intercomunicacion</a>
	  </li>
	  <li>
		<a routerLink="/intercomunicacion/123">Intercomunicacion Con Parametros</a>
	  </li>
	  <li>
		<a routerLink="/contacto">Contacto</a>
	  </li>
	  <!-- Agrega más elementos de menú aquí -->
	</ul>
  </nav>
  