<div class="container">
	<h1>Formularios</h1>

	<div class="mt-5">
		<input type="text" placeholder="Ingresa un texto" class="form-control" #name/>

		<button class="btn btn-primary mt-2" (click)="mostrarEnConsola(name.value)">
			Mostrar en consola
		</button>
	</div>

	<div class="mt-5">
		<input type="text" placeholder="Ingresa un texto" class="form-control" #nameSnack/>

		<button class="btn btn-primary mt-2" (click)="mostrarEnConsolaConSnackbar(nameSnack.value)">
			Mostrar en consola
		</button>

		<div class="alert alert-primary mt-2" *ngIf="mostrarAlertaExitoso; else mensajeError">
			Se ha enviado el mensaje
			<button class="btn btn-danger" (click)="mostrarAlertaExitoso = false">x</button>
		</div>

		<ng-template #mensajeError>
			<div class="alert alert-danger mt-2" *ngIf="mostrarAlertaError">
				No se ha enviado el mensaje
				<button class="btn btn-danger" (click)="mostrarAlertaError = false">x</button>
			</div>
		</ng-template>
	</div>

	<div class="mt-5">
		<h5>Formulario simple</h5>
		<div class="card">
			<div class="card-body">
				<form (ngSubmit)="procesar()">
					<div class="mb-2">
						<label class="form-label">Nombre:</label>
						<input type="text" name="nombre" class="form-control" placeholder="Por favor, ingrese un nombre" [(ngModel)]="persona.nombre"/>
					</div>

					<div>
						<label class="form-label">Edad:</label>
						<input type="number" name="edad" class="form-control" placeholder="Por favor, ingresa una edad" [(ngModel)]="persona.edad"/>
					</div>

					<button class="btn btn-primary mt-2">
						Enviar
					</button>
				</form>
			</div>
		</div>

	</div>

	<hr/>

	<div class="mt-5">
		<h5>Formulario con validacion de input</h5>
		<div class="card">
			<div class="card-body">
				<form (ngSubmit)="procesarConValidacion()" #formPersona="ngForm">
					<div class="mb-2">
						<label class="form-label">Nombre:</label>
						<input type="text" name="nombreValidacion" class="form-control" placeholder="Por favor, ingrese un nombre" [(ngModel)]="persona2.nombre" required #nombreValidacion="ngModel"/>

						<div class="alert alert-danger mt-2" [hidden]="nombreValidacion.valid || nombreValidacion.pristine">
							El nombre es obligatorio
						</div>
					</div>

					<div>
						<label class="form-label">Edad:</label>
						<input type="number" name="edadValidacion" class="form-control" placeholder="Por favor, ingresa una edad" [(ngModel)]="persona2.edad" required #edadValidacion="ngModel"/>

						<div class="alert alert-danger mt-2" [hidden]="edadValidacion.valid || edadValidacion.pristine">
							Debes ingresar una edad
						</div>
					</div>

					<button class="btn btn-primary mt-2" [disabled]="formPersona.invalid">
						Enviar
					</button>
				</form>
			</div>
		</div>

	</div>

	<div class="mt-5">
		<h5>Formulario reactivo</h5>
		<div class="card">
			<div class="card-body">
				<form (ngSubmit)="procesarFormularioReactivo()" #formPersona2="ngForm">
					<div class="mb-2">
						<label class="form-label">Nombre:</label>
						<input type="text" name="nombreReactivo" [formControl]="nombreReactivo" class="form-control" placeholder="Por favor, ingrese un nombre" required/>

						<div class="alert alert-danger mt-2" [hidden]="nombreReactivo.valid || nombreReactivo.pristine">
							El nombre es obligatorio
						</div>
					</div>

					<div>
						<label class="form-label">Email:</label>
						<input type="email" name="emailReactivo" [formControl]="emailReactivo" class="form-control" placeholder="Por favor, ingresa un email" required/>

						<div class="alert alert-danger mt-2" [hidden]="emailReactivo.valid || emailReactivo.pristine">
							
							<span *ngIf="emailReactivo.errors?.['required']">
								Debes ingresar un email
							</span>

							<span *ngIf="emailReactivo.errors?.['email']">
								El email debe ser valido
							</span>
							
						</div>
					</div>

					<button class="btn btn-primary mt-2" [disabled]="formPersona2.invalid">
						Enviar
					</button>
				</form>
			</div>
		</div>

	</div>

	<div class="mt-5">
		<h5>Formulario reactivo con FormGroup</h5>
		<div class="card">
			<div class="card-body">
				<form (ngSubmit)="procesarFormularioReactivo2()" #formPersona="ngForm" [formGroup]="formReactivo">
					<div class="mb-2">
						<label class="form-label">Nombre:</label>
						<input type="text" name="nombreReactivo" formControlName="nombreReactivo" class="form-control" placeholder="Por favor, ingrese un nombre" required/>

						<div class="alert alert-danger mt-2" [hidden]="nombreReactivo2.valid || nombreReactivo2.pristine">
							El nombre es obligatorio
						</div>
					</div>

					<div>
						<label class="form-label">Email:</label>
						<input type="email" name="emailReactivo" formControlName="emailReactivo" class="form-control" placeholder="Por favor, ingresa un email" required/>

						<div class="alert alert-danger mt-2" [hidden]="emailReactivo2.valid || emailReactivo2.pristine">
							
							<span *ngIf="formReactivo.get('emailReactivo')?.errors?.['required']">
								Debes ingresar un email
							</span>

							<span *ngIf="formReactivo.get('emailReactivo')?.errors?.['email']">
								El email debe ser valido
							</span>
							
						</div>
					</div>

					<button class="btn btn-primary mt-2" [disabled]="formReactivo.invalid">
						Enviar
					</button>
				</form>
			</div>
		</div>

	</div>
</div>

