<div class="container">
	<h1>Formularios</h1>

	<div class="mt-5">
		<input type="text" placeholder="Ingresa un texto" class="form-control" #name/>

		<button class="btn btn-primary mt-2" (click)="mostrarEnConsola(name.value)">
			Mostrar en consola
		</button>
	</div>

	<div class="mt-5">
		<input type="text" placeholder="Ingresa un texto" class="form-control" #nameSnack/>

		<button class="btn btn-primary mt-2" (click)="mostrarEnConsolaConSnackbar(nameSnack.value)">
			Mostrar en consola
		</button>

		<div class="alert alert-primary mt-2" *ngIf="mostrarAlertaExitoso; else mensajeError">
			Se ha enviado el mensaje
			<button class="btn btn-danger" (click)="mostrarAlertaExitoso = false">x</button>
		</div>

		<ng-template #mensajeError>
			<div class="alert alert-danger mt-2" *ngIf="mostrarAlertaError">
				No se ha enviado el mensaje
				<button class="btn btn-danger" (click)="mostrarAlertaError = false">x</button>
			</div>
		</ng-template>
	</div>
</div>

